apiVersion: apps/v1
kind: Deployment
metadata:
  name: billing-service-deployment
  namespace: billing-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: billing-service
  template:
    metadata:
      labels:
        app: billing-service
      annotations:
        newrelic.com/integrations: "true"
    spec:
      containers:
        - name: billing-service
          image: mandaapag03/billing-service:latest
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "300m"
          envFrom:
            - secretRef:
                name: app-secret
            - configMapRef:
                name: app-config
