apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: fluent-bit
  namespace: newrelic
  labels:
    app: fluent-bit
    app.kubernetes.io/name: fluent-bit
spec:
  selector:
    matchLabels:
      app: fluent-bit
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: fluent-bit
        app.kubernetes.io/name: fluent-bit
    spec:
      serviceAccountName: newrelic
      containers:
        - name: fluent-bit
          image: newrelic/newrelic-fluentbit-output:3.2.1
          imagePullPolicy: Always
          env:
            - name: CLUSTER_NAME
              valueFrom:
                configMapKeyRef:
                  name: newrelic-config
                  key: cluster-name
            - name: LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: newrelic-license-key
                  key: license
            - name: ENDPOINT
              value: "https://log-api.newrelic.com/log/v1"
            - name: SOURCE
              value: "kubernetes"
            - name: LOG_LEVEL
              value: "info"
            - name: LOW_DATA_MODE
              value: "false"
          volumeMounts:
            - name: fluent-bit-config
              mountPath: /fluent-bit/etc/
            - name: varlog
              mountPath: /var/log
              readOnly: true
            - name: varlibdockercontainers
              mountPath: /var/lib/docker/containers
              readOnly: true
            - name: etcmachineid
              mountPath: /etc/machine-id
              readOnly: true
            - name: fluent-bit-db
              mountPath: /var/fluent-bit/db
          resources:
            limits:
              memory: 200Mi
            requests:
              cpu: 100m
              memory: 128Mi
      terminationGracePeriodSeconds: 10
      volumes:
        - name: fluent-bit-config
          configMap:
            name: fluent-bit-config
        - name: varlog
          hostPath:
            path: /var/log
        - name: varlibdockercontainers
          hostPath:
            path: /var/lib/docker/containers
        - name: etcmachineid
          hostPath:
            path: /etc/machine-id
            type: File
        - name: fluent-bit-db
          emptyDir: {}
      tolerations:
        - operator: Exists
          effect: NoSchedule
        - operator: Exists
          effect: NoExecute
