apiVersion: v1
kind: Service
metadata:
  name: billing-service-service
  namespace: billing-service
spec:
  selector:
    app: billing-service
  ports:
    - port: 8080
      targetPort: 8080
  type: LoadBalancer
